@import '../../../Variables.css';

.manage-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: solid var(--gray) 2px;
    padding: 8px 16px;
    margin: 16px;
}

.manage-btn-ctn {
    flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
    .manage-card {
        padding: 0;
        margin: 0;
    }
    .manage-card--header-title {
        margin-bottom: 8px;
    }
}