.alert-popup {
    --info: rgba(255, 255, 255, 0.9);
    --error: rgb(255, 85, 85);
    --success: rgb(88, 194, 93);
    --popup-spawn-time: cubic-bezier(0.075, 1.5, 0.75, 1) 5s;
    position: fixed;
    padding:  16px 24px;
    max-width: 250px;
    background: red;
    border: solid transparent 1px;
    border-bottom-width: 4px;
    border-radius: 6px;
    display: flex;
    opacity: 0; 
}
.alert-popup .popup-close { cursor: pointer; }

/* Animations (keyframes en bas de page) */

.alert-popup.right { right: 24px; }
.alert-popup.left { left: 24px; }
.alert-popup.right.from-horizontal-side { animation: popupSpawningRight var(--popup-spawn-time); right: 0; }
.alert-popup.left.from-horizontal-side { animation: popupSpawningLeft var(--popup-spawn-time); left: 0; }
.alert-popup.top { top: 24px; }
.alert-popup.bottom { bottom: 24px; }
.alert-popup.top.from-vertical-side { animation: popupSpawningTop var(--popup-spawn-time); top: 0; }
.alert-popup.bottom.from-vertical-side { animation: popupSpawningBottom var(--popup-spawn-time); bottom: 0; }

/* Texte */

.alert-popup .icon {
    flex-shrink: 0;
    vertical-align: middle;
}

.alert-popup .popup-title { font-weight: bold; margin-bottom: 8px; }

.alert-popup .text {
    margin-left: 16px;
}

/* Couleur d'état */

.alert-popup.info { 
    background: var(--info); 
    border-color: rgb(220, 220, 220); 
    color: var(--black); 
}
.alert-popup.error { 
    background: var(--error); 
    border-color: rgb(245, 65, 65); 
    color: var(--white);  
}
.alert-popup.success { 
    background: var(--success); 
    border-color: rgb(68, 174, 73); 
    color: var(--white); 
}

@keyframes popupSpawningRight {
    5%, 95% {
        opacity: 1;
        right: 24px;
    }
}

@keyframes popupSpawningLeft {
    5%, 95% {
        opacity: 1;
        left: 24px;
    }
}

@keyframes popupSpawningTop {
    5%, 95% {
        opacity: 1;
        top: 24px;
    }
}

@keyframes popupSpawningBottom {
    5%, 95% {
        opacity: 1;
        bottom: 24px;
    }
}