.footerAccueil{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 46, 46);
    height: 25vh;
    width: 100%;
}

.urlFooter{
    margin-left: 20px;
    color: white
}

.containerUrlFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
