:root {
    /* Colors */
  --black: #222;
  --light-black: #444;
  --secondary-font-color: #999;
  --gray: #A1A1A1;
  --light-gray: #F1F1F1;
  --white: #FFFFFF;
  --green: #17B994;
  --red: rgb(255, 85, 85);
  --dark-overlay: rgba(0, 0, 0, 0.2);
  --info: rgb(243, 242, 242);
  --error: rgb(255, 85, 85);
  --success: rgb(88, 194, 93);
  --orange:  #FFB520;

  /* Dimensions */
  --vh: 0px;
  --mobile-full-height: calc(var(--vh) * 100);
  --sidebar-width: 300px;
}