:root {
    /* Colors */
  --black: #222;
  --light-black: #444;
  --secondary-font-color: #777;
  --gray: #A1A1A1;
  --light-gray: #F1F1F1;
  --white: #FFFFFF;
  --dark-overlay: rgba(0, 0, 0, 0.1);

  /* Dimensions */
  --vh: 0px;
  --mobile-full-height: calc(var(--vh) * 100);
}