#all{
  overflow-y: hidden;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  background-image: url("./images/back2.png");
}
  .App{
    text-align: left;
   
  }
  
  .title {
    padding-top: 32px;
    text-align: center;
    line-height: 4px;
    color: #61656e;
    font-size: 15pt;
    margin-bottom: 10%;
    margin-right: 10%;
  }

  .FormContact {
    display: inline-table; /* shrinks to fit content */
    border: 1px solid gray;
    border-radius: 25px;
    font-weight: 200;
    margin-left: 2%;
    padding-left:5%;
  }
 
  .field{
      text-align: start;
      
  }
  .content {
    display: inline-block;
    font-size: 0.875em;
    color: #61656e;
    font-weight: 400;
    line-height: 8px;
    margin-left: 5%;
  }
  
  .select-wrapper {
    display: inline-block;
    margin: 0.5rem;

  }
  
  .textfeild {
    padding: 0.5em;
    margin-right: 1em;
    width: 20rem;
    border-radius: 5px;
  }
  .textarea {
    padding: 0.5em;
    margin-right: 1em;
    width: 20rem;
    height:10rem;
    border-radius: 5px;

  }
  
  .textfeildGroup {
    padding: 0.5em;
    margin-right: 1em;
    width: 5rem;
    border-radius: 5px;
    justify-content: left;
  }
  .select-wrapper .field {
    color: #61656e;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin: auto auto 0.1rem 0.25rem;
    margin-bottom: 2px;
}
  
  .submit {
    padding: 6px;
    background-color: rgb(126, 217, 87);
    border: 1px solid #10ac84;
    color: #ffffff;
    font-size: 16px;
    margin: 1rem;
    border-radius: 2px;
    margin-left:70%;
    margin-top:10%;
  }
  
  /* Mobile */
  @media only screen and (min-width: 600px) {
    .App{
      text-align: left;
      background-image: url("https://cdn.discordapp.com/attachments/666230445503152171/669843810133606400/sign_background.png");
      background-size: 30%;
      background-repeat: repeat-y;
      margin-left: 30%;
  
    }
    
    
    .title {
      padding-top: 32px;
      text-align: center;
      line-height: 4px;
      color: #61656e;
      position: relative;
      font-size: 15pt;
      margin-bottom: 10%;
    }
  
    .FormContact { /* shrinks to fit content */
      border: 1px solid gray;
      border-radius: 25px;
      width: 50%;
      font-weight: 200;
      justify-content: center;
      margin-top: 5%;
      

    }
   
    .field{
        text-align: start;
    }
    .content {
      display: inline-block;
      font-size: 0.875em;
      color: #61656e;
      font-weight: 400;
      line-height: 8px;
      margin: auto auto 0.1rem 0.25rem;
    }
    
    .select-wrapper {
      margin: 0.5rem;
      display: inline-table;

    }
    
    .textfeild {
      padding: 0.5em;
      margin-right: 1em;
      width: 33rem;
      border-radius: 5px;
    }
    .textarea {
      padding: 0.5em;
      margin-right: 1em;
      width: 33rem;
      height:10rem;
      border-radius: 5px;

    }
    
    .textfeildGroup {
      padding: 0.5em;
      margin-right: 1em;
      width: 15rem;
      border-radius: 5px;

    }
    .select-wrapper .label {
      color: #61656e;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      margin: auto auto 0.1rem 0.25rem;
      margin-bottom: 2px;
  }
    
    .submit {
      padding: 16px;
      background-color: rgb(126, 217, 87);
      border: 1px solid #10ac84;
      color: #ffffff;
      font-size: 16px;
      margin: 1rem;
      border-radius: 2px;
      margin-left: 73%;
      margin-top:10%;
    }
  }
  