.becomeContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #A1A1A1;
}

.logoPartenaire {
    width: 50px;
}

.logoChoice {
    width: 50px;
}
.containerChoice {
    padding: 20px;
    margin-bottom: 25px;
    width: 80%;
    background-color: white;
}

.containerAdhesion {
    padding: 20px;
    margin-bottom: 25px;
    width: 80%;
    background-color: white;
}

.containerSalary {
    padding: 20px;
    margin-bottom: 25px;
    width: 80%;
    background-color: white;
}

.logoSalary {
    width: 50px;
}

.titleSteps {
    margin: 0;
}

.becomePartnairContainer {
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.liensImagesDelivery {
    width: 100%;
}

.particulierVelo {
    background-image: url("https://zupimages.net/up/20/04/939t.jpg");
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 35vh;
    background-size: cover;
    margin-bottom: 5px;
}

.particulierVelo:hover {
    opacity: 0.8;
}

.coursierScooter {
    background-image: url("https://zupimages.net/up/20/04/p4zf.jpg");
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 35vh;
    background-size: cover;
    margin-bottom: 5px;
    background-position: center;
}
.coursierScooter:hover {
    opacity: 0.8;
}

.transporteurCamion {
    background-image: url("https://zupimages.net/up/20/04/w6js.jpg");
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 35vh;
    background-size: cover;
    background-position: bottom;
}
.transporteurCamion:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .transporteurCamion {
        height: 20vh;
    }
    .coursierScooter {
        height: 20vh;
    }
    .particulierVelo {
        height: 20vh;
    }

}
