.delivery_heading {
    display: flex;
    align-items: center;
}

.delivery_heading img {
    height: 64px;
    margin-right: 20px;
    filter: drop-shadow(2px 2px 1px var(--gray));
}

.delivery-client-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    font-weight: bold;
}

.delivery-client-price .price-tip {
    text-decoration: underline;
}

.popup-info {
    background-color: var(--red);
  color: white;
  font-weight: 500;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  }
  
.sign-ctn{
    height:100vh;
    width:100%;
    
}

.footerAccueil{
    padding-bottom:2%;
}

.contentResultAddress{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(187, 187, 187) 0px 20px 15px;
    width: 100%;
    animation: resultAddress 10s;
}

@keyframes resultAddress {
    from {
        height: 0px;
        overflow: hidden;
    }
    to {
        height: auto;
        overflow: auto;
    }
}

.labelAddress{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px black solid;
    width: 100%;
    animation: labelAddress 5s
}

@keyframes labelAddress {
    0% {
        display: none
    }
    95%{
        display: none
    }
    100%{
        display: flex;
    }
}

.titleInput{
    font-size: 15px;
}

.contentAddressInput{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #17B994;
    padding: 15px;
    border-radius: 5px;
}

.containerInputAddress{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 1280px){
    .containerInputAddress{
        flex-direction: column;
    }
}