.clientAreaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerClientArea {
    background-color: lightgrey;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newCommandButton {
    cursor: pointer;
    margin: 0;
    width: 25%;
    font-size: 18px;
    border-radius: 5px;
    display: inline;
    background-color: greenyellow;
    box-shadow: grey 2px 2px 2px;
    padding: 15px;
}

.actualCommandsContainer {
    margin: 25px;
    background-color: lightgray;
    width: 50%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.actualCommands {
    display: flex;
    flex-direction: column;
}

.deliveryManLogo {
    width: 70px;
    height: 70px;
}

.commandesRealContainer {
    display: flex;
    margin-bottom: 25px;
    width: 50%;
    height: 40vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: lightslategray;
}

.commandesReal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nbCommandesRealTitle {
    font-size: 36px;
}

.logoColis {
    width: 70px;
    height: 70px;
}

.infosContainer {
    width: 50%;
    margin-bottom: 25px;
}

.myInformations {
    background-color: darkgrey;
    padding: 25px;
}

.profileIcon {
    width: 80px;
}

.inputAndEdit {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.editInfo {
    width: 30px;
}

@media (max-width: 1060px) {
    .actualCommandsContainer {
        width: 90%;
        height: 30vh;
    }

    .headerClientArea {
        width: 100%;
    }

    .commandesRealContainer {
        width: 90%;
    }

    .myInformations {
        padding: 20px;
    }
    .infosContainer {
        width: 90%;
    }
}
