@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    src: local('Fredoka One'), local('FredokaOne-Regular'), url(https://fonts.gstatic.com/s/fredokaone/v7/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.partnerContainer{
    height:100vh;
    width:100%;
}

.titlePartner{
    text-align: center;
    margin-top:5%;
}

.threeCards2 {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.stepsContainer2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 25%;
    box-shadow: 0 1px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.stepsContainer2:hover{
	-webkit-transform: scale(1.3);
    transform: scale(1.1);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.particularImg {
    width: 100%;
    height: 60%;
    background-image: url("../partner/images/particulier.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size:25pt;
    font-weight:800;
    color:white;
    padding-top:15%;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


.subtitleThreeSteps2 {
    font-size: 16px;
    color: #3a3a3a;
    text-align: center;
}

.steedImg {
    width: 100%;
    height: 60%;
    background-image: url("../partner/images/scooter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size:25pt;
    font-weight: 800;
    color:white;
    padding-top:15%;
}

.carrierImg {
    width: 100%;
    height: 60%;
    background-image: url("../partner/images/transporter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size:25pt;
    font-weight: 800;
    color:white;
    padding-top:15%;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.titleStepsContainer2{
    font-size: 20px;
    color: #17B994;
    text-align: center;
    font-weight: 800;
    margin-top:2%;
    margin-bottom: 2%;
}

@media screen and (max-width: 1060px) {

    .partnerContainer{
        height:150vh;
        width:100%;
    }

    .titlePartner{
        text-align: center;
        margin-top:5%;
        margin:3%;
        font-size:10px;
    }

    .subtitleThreeSteps2 {
        font-size: 15px;
        color: #3a3a3a;
        text-align: center;
        margin-bottom: 15%;
    }

    .threeCards2 {
        width: 100%;
        height: 100%;
        flex-direction: row;
        display: table;
        align-items: center;
    }

    .stepsContainer2 {
        background-color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
        height:35%;
        width: 100%;
        box-shadow: 0 1px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: none;
        transition: none;
        -webkit-filter: none;
        filter: none;
        -webkit-transition: none;
        transition: none;
    }
    .particularImg {
        width: 100%;
        height: 50%;
        background-image: url("../partner/images/particulier.png");
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size:25pt;
        font-weight:800;
        color:white;
        padding-top:15%;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }


    .steedImg {
        width: 100%;
        height: 50%;
        background-image: url("../partner/images/scooter.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size:25pt;
        font-weight: 800;
        color:white;
        padding-top:15%;
    }

    .carrierImg {
        width: 100%;
        height: 50%;
        background-image: url("../partner/images/transporter.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size:25pt;
        font-weight: 800;
        color:white;
        padding-top:15%;
    }
  }
