.content-delivery{
    background-color: lightgrey;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.title{
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
}

.state-style{
    display:flex;
    justify-content: left;
    align-items: center;
}

.the_state{
    margin-right: 10px;
    font-weight: 500;
}

.last_name-style{
    display:flex;
    justify-content: left;
    align-items: center;
}

.the_last_name{
    margin-right: 10px;
    font-weight: 500;
}

.first_name-style{
    display:flex;
    justify-content: left;
    align-items: center;
}

.the_first_name{
    margin-right: 10px;
    font-weight: 500;
}

.mail-style{
    display:flex;
    justify-content: left;
    align-items: center;
}

.the_mail{
    margin-right: 10px;
    font-weight: 500;
}

.phone-style{
    display:flex;
    justify-content: left;
    align-items: center;
}

.the_phone{
    margin-right: 10px;
    font-weight: 500;
}
.rib-style{
    display:flex;
    justify-content: left;
    align-items: center;
}

.the_rib{
    margin-right: 10px;
    font-weight: 500;
}
.adress-style{
    display:flex;
    justify-content: left;
    align-items: center;
}

.the_adress{
    margin-right: 10px;
    font-weight: 500;
}

.delivery_area-style{
    display:flex;
    justify-content: left;
    align-items: center;
}

.the_delivery_area{
    margin-right: 10px;
    font-weight: 500;
}

.type_delivery_guy-style{
    display:flex;
    justify-content: left;
    align-items: center;
}

.the_type_delivery_guy{
    margin-right: 10px;
    font-weight: 500;
}

.type_vehicle-style{
    display:flex;
    justify-content: left;
    align-items: center;
}

.the_type_vehicle{
    margin-right: 10px;
    font-weight: 500;
}

.tva-style{
    display:flex;
    justify-content: left;
    align-items: center;
}

.the_tva{
    margin-right: 10px;
    font-weight: 500;  
}

.siret-style{
    display:flex;
    justify-content: left;
    align-items: center;
}

.the_siret{
    margin-right: 10px;
    font-weight: 500;  
}
.kib-style{
    display:flex;
    justify-content: left;
    align-items: center;
}

.the_kib{
    margin-right: 10px;
    font-weight: 500;   
}

.delivery-container{
    background-color: white;
    padding-top:2%;
    padding-bottom:2%;
    border-radius: 25px;
    width:auto;
    padding-left:5%;
    padding-right:5%;
}

.delivery-box{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1%;
}

@media screen and (max-width:400px){
    .content-delivery{
        background-color: lightgrey;
        height: 100%;
        padding: 5%;
        width: 100%;
    }
   
   
}

