/*              Infos dashboard style       */

.infosDashboardContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.myInfosContentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}

.myInfosAndTitleContainer {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 50vh;
    padding: 15px;
    border-radius: 15px;
    margin: -250px 0 0 0;
}

.inputsContainerMyInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputLabelDashboard {
    margin: 15px;
    width: 80%;
}

.inputMyInfosDashboard {
    margin: 0 15px 0 15px;
}

.editIcon {
    color: #17B994;
}
