/*              My orders style         */


.myOrders {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: lightgrey;
}

.title1 {
    color: gray();
}

.title2 {
    text-align: center;
    color: orange;
}

.burgerMenuIconDashboard {
    color: #17B994;
    position: absolute;
    left: 5%;
    top: 5%;
}

.ordersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0 0 15px 0;
    width: 100%;
}

.ordersCardContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerDashboardOrders {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45vh;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.tableMainContainerOrder {
    width: 75%;
}

.myOrdersContainerList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    width: 90%;
    height: 75vh;
    border-radius: 5px;
}


.legendAndContentContainer {
    margin-top: -340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.legendContainer {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin: 25px;
}

.legendIconAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 8px;
}

.titleMyOrders {
    color: #17B994;
    font-size: 38px;
    text-align: center;
}

.headerArray {
    border: 1px solid #3a3a3a;
    box-sizing: border-box;
    padding: 15px;
}

.containerOrderInTable {
    width: 90%;
    border: solid 1px #3a3a3a;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.itemListOrders {
    text-align: center;
}

.tableHeaderOrders {
    width: 10%;
    font-size: 24px;
}

.orderContainerInArray {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemArrayMyOrders {
    padding: 15px;
    border: 1px solid #3a3a3a;
}

.ordersArrayHeader {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonActionOrder {
    color: white;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin: 0 25px 0 25px;
    border-radius: 5px;
    background-color: #17B994;
    cursor: pointer;
}
.buttonActionOrder:hover {
    transform: scale(1.1);
}

.buttonDetailsOrder {
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    margin: 0 25px 0 25px;
    box-sizing: border-box;
    border: #17B994 solid 1px;
    color: #17B994;
    cursor: pointer;
}
.buttonDetailsOrder:hover {
    transform: scale(1.1);
}

@media (max-width: 1060px) {

    .legendAndContentContainer {
        margin-top: -260px;
    }

    .myOrdersContainerList {
        margin-top: -20px;
        height: 70vh;
    }
    .ordersCardContainer {
        flex-direction: column;
        width: 100%;
        height: 73vh;
        align-items: center;
        justify-content: center;
    }

    .legendContainer {
        padding: 5px;
        top: 11%;
        left: 20%;
    }

    .closeButtonNavBarMobile {
        position: absolute;
        left: 65%;
        top: 5%;
        color: black;
    }

    .titleMyOrders {
        font-size: 26px;
    }

    .closeButtonNavBarMobile {
        display: initial;
    }

    .openButtonNavBarMobile {
        display: initial;
    }

    .ordersContainerTitle {
        margin: 15px;
        width: 95%;
        align-items: center;
    }

    .tableHeaderOrders {
        width: 75px;
        font-size: 14px;
    }

    .itemTableOrders {
        font-size: 14px;
    }

    .buttonDetailsOrder {
        margin: 0;
    }
    .buttonActionOrder {
        margin: 0;
    }
}
