/*              My orders style         */


.myOrders {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: lightgrey;
}

.titleContainer {
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 25px;
}

.title1 {
    color: gray();
}

.title2 {
    text-align: center;
    color: orange;
}

.burgerMenuIconDashboard {
    color: #17B994;
    position: absolute;
    left: 5%;
    top: 5%;
}

.ordersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0 0 15px 0;
    width: 100%;
}

.ordersCardContainer {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerDashboardOrders {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45vh;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.ordersContainerTitle {
    width: 35%;
    margin: -20% 0 0 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ordersContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    color: black;
    border-radius: 15px;
}

.closeButtonNavBarMobile {
    display: none;
}

.openButtonNavBarMobile {
    display: none;
}

@media (max-width: 1060px) {
    .ordersCardContainer {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .closeButtonNavBarMobile {
        position: absolute;
        left: 65%;
        top: 5%;
        color: black;
    }

    .titleContainer {
        width: 100%;
        text-align: center;
    }

    .closeButtonNavBarMobile {
        display: initial;
    }

    .openButtonNavBarMobile {
        display: initial;
    }

    .ordersContainer {
        width: 70%;
    }

    .ordersContainerTitle {
        margin: 15px;
        width: 95%;
        align-items: center;
    }

    .title1 {
        margin-top: -190px;
    }
}
